body {
  background-color:#343434;
}

#gameTitle {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  width: 100%;
  color: #AFAFAF;
}

#cr-stage {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 600px;
  background-color: #AFAFAF;
}