* {
  margin: 0; padding: 0;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%; height: 100%;
}

body {
  padding: 50px 100px 50px;
  background: #171717;
}

canvas {
  display: block;
  background: whiteSmoke;
  margin: 0 auto;
}