@font-face{ 
	font-family: 'Happy Sans';
	src: url('../fonts/happy_sans-webfont.eot');
	src: url('../fonts/happy_sans-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/happy_sans-webfont.woff') format('woff'),
	     url('../fonts/happy_sans-webfont.ttf') format('truetype'),
	     url('../fonts/happy_sans-webfont.svg#webfont') format('svg');
}

* {
  margin: 0; padding: 0;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  width: 100%; height: 100%;
}

body {
  background: #171717;
  font-family: 'Happy Sans', cursive;
}

.container {
	position: relative;
	margin: 50px auto;
	width: auto;
	max-width: 1000px;
	height: 500px;
}

footer {
	color: #E6E6E6;
	margin: 50px auto;
	max-width: 1000px;
}
footer a {
	color: #FF6767;
}
footer a:hover {
	color: #67DBFF;
}
footer a:active {
	color: #F3FF67;
}
footer a:focus {
	color: #FF67ED;
}


canvas#game_main {
  display: block;
  margin: 0 auto;
  position: absolute;
}
canvas#game_bg {
	display: block;
	margin: 0 auto;
	position: absolute;
}


/* Score Board */
#score_board {
	position: absolute;
	top: 0; left: 0; right: 0;
	padding: 10px;
	height: 10%;
	text-align: left;
	font-size: 30px;
	font-weight: normal;

	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


/* Start Screen */
#start_screen {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1;
	width: 100%;

	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#title {
	font-size: 67px;
	line-height: 100px;
	font-weight: normal;
	color: #945430;
	text-align: center;
  text-shadow: 3px 3px 0px white;
	margin: 0;
	padding: 0;
}

#credits {
	font: 36px 'Happy Sans', cursive;
	color: white;
	padding: 0;
	text-align: center;
	margin: -10px 0 0;
}
#credits a {
	color: #FFEEAA;
	text-decoration: none;
}

.options {
	height: 400px;
	background-position: bottom center;
	width: 225px;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	right: 50px;
}

.options:before {
	content: '';
	position: absolute;
	width: 47px;
	height: 49px;
	bottom: 0;
	left: 50%;
	margin-left: -29px;
	z-index: -1;
}

.options ul {
	margin: 0;
	padding: 50px 0 0;
	list-style: none;
}

.options ul li {
	display: block;
	font: 40px 'Happy Sans', cursive;
	text-align: center;
	margin: 0 0 20px;
}

.options ul li a {
	color: #FFEEAA;
	text-decoration: none;
}

.options ul li:first-child {
	background: url(../img/plank_top.png) no-repeat top center;
	height: 70px;
	line-height: 70px;
}

.options ul li:nth-child(2) {
	background: url(../img/plank_mid.png) no-repeat top center;
	height: 63px;
	line-height: 63px;
}

.options ul li:last-child {
	background: url(../img/plank_bot.png) no-repeat top center;
	height: 75px;
	line-height: 75px;
}

.controls {
	width: 74px;
	height: 48px;
	background: url(../img/controls.png) no-repeat top center;
	margin: 10px auto;
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -24px; margin-left: -37px;
}