* {
	margin: 0;
	border: 0;
	padding: 0;
}

.container {
	background-color: darkgray;
	width: 640px;
	height: 480px;
	position: relative;
	margin: 30px;
}

.menu img {
	position: absolute;
	left: 95px;
	top: 30px;
}

.menu ul {
	position: absolute;
	margin-top: 220px;
	width : 300px;
	left: 170px;
	font-size: 30px;
}

.menu li {
	list-style: none;
	text-align: center;
	color: black;
}

.menu .selected {
	color :red;
	font-size: 120%;
}

.song canvas{
	position: absolute;
	top: 0;
	background-image: url('../img/background.png');
}

.song .paused, .menu ul, .game-text {
	font-family: 'Russo One', sans-serif;
}

#score-text, #combo-text, #ready, #go {
	color: green;
	position: absolute;
	z-index: 100;
	font-size: 30px;
}

#score-text {
	top: 50px;
}

#ready, #go {
	top: 210px;
	z-index: 100;
}

#pause, #game-over {
	position: absolute;
	display: none;
	z-index: 100;
}

#game-over {
	color : red;
	font-size: 30px;
	top: 210px;
	left: 300px;
}

#go {
	display: none;
}


#pause {
	top : 120px;
	left: 300px;
}