<html>
<head>
  <title>Git-TASTIC Beat Factory</title>
  <link href='http://fonts.googleapis.com/css?family=Galindo' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
  <body>

    <div class="container">
    </div>

    <audio class="click" src="audio/effects/click.wav">
    <audio class="whip" src="audio/effects/whip.wav">

    <script type="text/template" id="menu-template">
      <img class="flyin" src="img/logo.png"/>
      <ul class="menu">
        <li id="start" class="selected">Start</li>
        <li id="howto">How to Play</li>
        <li id="highscores">High Scores</li>
        <li id="credits">Credits</li>
      </ul>
    </script>

    <script type="text/template" id="song-template">
      <div id="score-text" class="game-text">Score: <span id="score"></span></div>
      <div id="combo-text" class="game-text">Combo: <span id="combo"></span></div>
      <div id="pause" class="game-text">
        Paused
        <ul>
          <li class="menu">Main menu</li>
          <li class="choose">Select Song</li>
        <ul>
      </div>
      <div id="game-over" class="game-text">
        Game Over
      </div>
      <div id="ready" class="game-text">
        Ready...
      </div>
      <div id="go" class="game-text">
        GO!
      </div>
      <div id="clear" class="game-text">
        Stage Clear!
      </div>
      <div id="status"></div>
      <div class="action" id="forked">Forked!</div>
      <div class="action" id="pulled">Pulled!</div>
      <div class="action" id="pushed">Pushed!</div>
      <div class="action" id="cloned">Cloned!</div>
      <canvas></canvas>
      <audio></audio>
    </script>

    <script type="text/template" id="credits-template">
      <h2>Choctopus Games</h2>
      <p>Programming: Graham Conzett</p>
      <p>Design and animation: Stephanie Owens</p>
      <h2>Music Credits</h2>
      <ul id="song-credits"></ul>
      <small>Press esc to return to main menu</small>
    </script>

    <script type="text/template" id="highscore-template">
      <h2>High Scores</h2>
      <ul id="scores"></ul>
      <small>Press esc to return to main menu</small>
    </script>

    <script type="text/template" id="howto-template">
      <h2>How to Play</h2>
      <small>Press esc to return to main menu</small>
    </script>

    <script type="text/template" id="songs-template">
      <h2>Choose a song</h2>
      <ul></ul>
    </script>

    <script type="text/template" id="song-list-item-template">
      <h3><%= name %><h3>
      <dl>
        <dt>Artist:</dt>
        <dd><%= artist %><dd>
        <dt>Difficulty:</dt>
        <dd><%= difficulty %></a><dd>
      </dl>
    </script>

    <script type="text/template" id="song-credit-template">
      <li>
      <a href="<%= website %>"><%= artist %></a> - <%= name %></br>
      <%= license %>
      </li>
    </script>

    <script type="text/template" id="choctopus-template"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="src/requestAnimationFrame.js"></script>
    <script src="vendor/documentcloud/underscore/underscore-min.js"></script>
    <script src="vendor/documentcloud/backbone/backbone-min.js"></script>
    <script src="models/Sprite.js"></script>
    <script src="models/Song.js"></script>
    <script src="collections/Songs.js"></script>
    <script src="views/MenuView.js"></script>
    <script src="views/ScreenView.js"></script>
    <script src="views/ChoctopusView.js"></script>
    <script src="views/SongView.js"></script>
    <script src="views/SongListItemView.js"></script>
    <script src="views/SongsView.js"></script>
    <script src="views/CreditsView.js"></script>
    <script src="views/HighScoreView.js"></script>
    <script src="views/HowtoView.js"></script>
    <script src="data/sprites.js"></script>
    <script src="data/songs.js"></script>
    <script src="app.js"></script>
  </body>
</html>
