#f, #g, #h, #j {
	font-size : 20px;
	font-weight : bold;
	font-family: helvetica;
	vertical-align: middle;
}

.keys {
	line-height : 30px;
}

.pressed {
	color : red;
	font-size: 28px !important;
}

.go {
	color : green;
	font-size: 24px;
}

canvas {
	border: 1px solid black;
}