<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings file="dffsf" />
    <system.webServer>
      <staticContent>
        <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
