<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <title>Sea Battle</title>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript" src="/javascripts/pulse.min.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </body>
</html>