/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require typicons
 */

body{
    background: #000;
}
#cr-stage {
  color:white;
  border:2px solid black;
  margin:5px auto;
}

footer{
    font-size: 11px;
    color: #555;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #222;
}

.KnowsGame{
    font-family: "Courier New", monospace;
    line-height: normal !important;
    text-align: center;
}

.Title{
    text-align: center;
    font-size: 66px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    line-height: 80%;
    text-shadow: 0 5px #444;
}

.GFXText{
    width: 640px;
    text-align: center;
    font-size: 26px;
    margin-top: -13px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    line-height: 100%;
}

.WithTransition{
    text-shadow: 0 5px #444;
    -webkit-transition: font-size 300ms ease-in-out, margin-top 300ms ease-in-out;
}

.StartGFXTitle{
    margin-top: -65px;
    font-size: 130px;
}

.Button{
    text-align: center;
    font-size: 28px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    box-shadow: 0 5px #444;

    border-radius: 10px;
    background-color: #777;
    line-height: 42px;
    height: 42px;
    cursor: pointer;
}

.Button:hover{
    box-shadow: 0 4px #444;
    padding-top: 1px;
}
.Button:active{
    box-shadow: 0 5px #444 inset;
    padding-top: 5px;
}

.mute{
    font-size: 40px;
    cursor: pointer;
}

.mute:hover{
    color: #bbb;
}

.mute:active{
    color: #999;
}

.mute.muted{
    color: #555;
}

.Obstacle{
    -webkit-transition: background-color 200ms;
}

.current-action {
    text-transform: uppercase;
}

.Pause{
    font-size: 32px;
    cursor: pointer;
}

.Pause:hover{
    color: #bbb;
}

.Pause:active{
    color: #999;
}

.Pause.paused{
    color: #555;
}


.GameOver{
    border-radius: 50px;
    box-shadow: 0 5px #444;
    background-color: rgba(255,255,255,0.5);
    color: black;
    text-align: center;
    font-size: 28px;
    font-family: "Courier New", monospace;
    font-weight: bold;
}
.GameOver h1, .GameOver h2, .GameOver h3 {
    margin: 5px 0;
}

.GameOver h3{
    font-weight: normal;
}