
.Title{
    text-align: center;
    font-size: 66px;
    font-family: "Courier New", monospace;
    font-weight: bold;
    line-height: 80%;
    text-shadow: 0 5px #444;
}


.Button{
  $height: 42px;

  text-align: center;
  font-size: 28px;
  font-family: "Courier New", monospace;
  font-weight: bold;
  box-shadow: 0 5px #444;

  border-radius: 10px;
  background-color: #777;
  line-height: $height;
  height: $height;
  cursor: pointer;

  &:hover{
    box-shadow: 0 4px #444;
    padding-top: 1px;
  }
  &:active{
    box-shadow: 0 5px #444 inset;
    padding-top: 5px;
  }
}


.GameOver{
  border-radius: 50px;
  box-shadow: 0 5px #444;
  background-color: rgba(255,255,255,0.5);
  color: black;
  text-align: center;
  font-size: 28px;
  font-family: "Courier New", monospace;
  font-weight: bold;

  h1,h2,h3{
    margin: 5px 0;
  }

  h3{
    font-weight: normal;

  }
}