<!DOCTYPE html>
<html>
<head>
  <title>ReleaseCycles</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/gif" href="/favicon.gif">

</head>
<body>

<%= yield %>

<footer>
  <p> Game created by Rotschild Games - @shaydavidson & @yonbergman </p>
  <p> for the GitHub GameJam 2012 </p>
  <p> Music by <a>Goto-80</a></p>

</footer>
<div id="getsat-widget-2425"></div>
<script type="text/javascript" src="https://loader.engage.gsfn.us/loader.js"></script>
<script type="text/javascript">
if (typeof GSFN !== "undefined") { GSFN.loadWidget(2425,{"containerId":"getsat-widget-2425"}); }
</script>
</body>
</html>
